@model DrinksIndexViewModel

<div class="row">
    <div class="col col-lg-6 mx-auto">
        <h4>Our drinks</h4>
        <table class="table table-hover table-info">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var drink in Model.Drinks)
                { 
                    <tr>
                        <td>@drink.Name</td>
                        <td><a asp-controller="Drinks"
                               asp-action="Info"
                               asp-route-id="@drink.Id" class="btn btn-info">Info</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
